# Notebook cr√©ant les nouvelles features

In [43]:
%matplotlib inline
from pylab import *
import pandas as pd
import geopy
from geopy import distance

In [44]:
data_path=  "data/train_sample.csv"
data_sample = pd.read_csv(data_path)
data_sample = data_sample.drop(columns = "key")

In [45]:
data_sample = data_sample[(data_sample['pickup_latitude'] <=90)
            & (data_sample['pickup_latitude'] >=-90)
            & (data_sample['pickup_longitude'] <=90)
            & (data_sample['pickup_longitude'] >=-90)
            & (data_sample['dropoff_latitude'] <=90)
            & (data_sample['dropoff_latitude'] >=-90)
            & (data_sample['dropoff_longitude'] <=90)
            & (data_sample['dropoff_longitude'] >=-90)
            & (data_sample['dropoff_longitude'] !=0)
            & (data_sample['dropoff_latitude'] !=0)
            & (data_sample['pickup_longitude'] !=0)
            & (data_sample['pickup_latitude'] !=0)
            & (data_sample['fare_amount']>0)]

In [46]:
date = data_sample["pickup_datetime"]
date = pd.DatetimeIndex(date)

In [47]:
data_sample["dayofweek"] = date.dayofweek
data_sample["year"] = date.year
data_sample["month"] = date.month
data_sample["day"] = date.day
data_sample["hour"] = date.hour

In [48]:
coordonnes_geo = data_sample.values[:,3:7]

In [49]:
def dist(row):
    coords_1 = (row[1],row[0])
    coords_2 = (row[3],row[2])
    return geopy.distance.distance(coords_1,coords_2).km

In [50]:
distances  = []


for trajet in coordonnes_geo:
    distance_trajet = dist(trajet)/1000
    distances.append(distance_trajet)

In [51]:
data_sample["distances(km)"] = distances

In [52]:
data_sample

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,dayofweek,year,month,day,hour,distances(km)
0,57.54,2015-06-17 17:24:31 UTC,-73.803764,40.679134,-73.971626,40.749847,4,2,2015,6,17,17,8.654463
1,14.50,2009-08-18 17:32:00 UTC,-73.990375,40.756393,-73.956352,40.767413,1,1,2009,8,18,17,8.321027
2,22.00,2013-08-28 15:13:00 UTC,-73.973278,40.744317,-73.954997,40.813277,1,2,2013,8,28,15,8.320877
3,5.70,2011-03-04 21:25:00 UTC,-73.971312,40.763847,-73.954757,40.769585,1,4,2011,3,4,21,8.320849
4,6.00,2014-09-24 16:52:00 UTC,-73.959810,40.782302,-73.969485,40.785452,1,2,2014,9,24,16,8.322493
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,12.90,2011-05-10 09:28:08 UTC,-73.970041,40.745790,-73.986304,40.750114,1,1,2011,5,10,9,8.324370
99995,8.50,2014-02-09 19:05:00 UTC,-73.990058,40.732362,-73.999953,40.731152,1,6,2014,2,9,19,8.325893
99997,11.00,2013-03-11 20:20:00 UTC,-73.988802,40.692323,-73.966800,40.705877,2,0,2013,3,11,20,8.432768
99998,17.00,2013-09-05 09:19:00 UTC,-73.976093,40.750377,-74.009005,40.703882,1,3,2013,9,5,9,8.326904
99999,4.00,2013-08-15 08:24:56 UTC,-73.947938,40.783618,-73.946189,40.778745,2,3,2013,8,15,8,8.430468